.messages-container {
  height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.input-area {
  width: 100%;
  height: 20%;
}
.text-box {
  width: 100%;
  height: 100%;
}

.button-container {
  text-align: right;
}

