<div class='card-container'>
  <mat-card class="login-card">
    <mat-card-title>{{ confirmPassword ? 'Sign Up' : 'Log In' }} </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)='handleForm()' #form='ngForm'>
        <mat-form-field>
          <input matInput
            [(ngModel)]='email'
            required
            email
            name='email'>
            <mat-error>
              Please enter a valid e-mail address.
            </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput
            [(ngModel)]='password'
            required
            type='password'
            name='password'>
        </mat-form-field>
        <br *ngIf='this.confirmPassword == true'/>
        <mat-form-field *ngIf='this.confirmPassword == true'>
          <input matInput
          [(ngModel)]='confirmedPassword'
          required
          type='password'
          name='confirm-password'>
          <mat-error *ngIf='this.password != this.confirmedPassword'>
            Passwords do not match!
          </mat-error>
        </mat-form-field>
        <br/>
        <div *ngIf='loading' class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <div class='login__controls'>
          <button *ngIf='!loading'
            mat-raised-button
            color='primary'
            class='login__control'
            [disabled]='!form.valid'>
            {{ confirmPassword ? 'Sign Up' : 'Log In' }}
          </button>
          <button *ngIf='!loading'
          mat-raised-button
          color='primary'
          class='login__control'
          type='button'
          (click)='this.confirmPassword = !this.confirmPassword; this.error = undefined'>
          Switch to {{ confirmPassword ? 'Log in' : 'Sign up'}}
          </button>
      </div>
      </form>
    </mat-card-content>
    <div id='error-container' *ngIf='error'><p id='error'>{{error}}</p></div>
  </mat-card>
  <br/>
</div>
